.generate{
    display: grid;
    height: 700px;
    grid-template-rows: 10% 40% 60%;
    grid-template-areas:"header header"
                        "hero hero"
                        "header main";
}
.level1{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-area: header;
}
.level1 > .level1header{
    background-color: black;
    color: white;
    font-family: Arial;
    display: grid;
    justify-items: center;
    align-items: center;
}
.level1 > .level1menu{
    background-color: #ef3d4d;
    color: white;
    font-family: Arial;
    display: grid;
    justify-items: center;
    align-items: center;
}
.level2{
    display: grid;
    background-color: #4c86c6;
    color: white;
    font-family: Arial;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-area: hero
}
.level3{
    display: grid;
    /*grid-template-columns: 20% 80%;*/
    grid-area: main;
}
.level3menu{
    background-color: #ef3d4d;
    color: white;
    font-family: Arial;
    display: grid;
    justify-items: center;
    align-items: center;
}
.level3mainbannerexrtaimage{
    display: grid;
    grid-template-rows: 50% 25% 25%;
}
.level3main{
    background-color: #24344b;
    color: white;
    font-family: Arial;
    display: grid;
    justify-items: center;
    align-items: center;
}
.level3banner{
    background-color: #ffd169;
    color: black;
    font-family: Arial;
    display: grid;
    justify-items: center;
    align-items: center;
}
.level3extraimage{
    display: grid;
    grid-template-columns: 60% 40%;
}
.level3extra{
    background-color: #4dbd97;
    color: black;
    font-family: Arial;
    display: grid;
    justify-items: center;
    align-items: center;
}
.level3image{
    background-color: #c1e4e6;
    color: black;
    font-family: Arial;
    display: grid;
    justify-items: center;
    align-items: center;
}