.maincontainer{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr) ;
    justify-content: center;
}
.container, .container1 {
    height: 200px;
    width: 200px;
    display: grid;
    background-color: #c4c4c4;
    grid-gap: 5px;
}
.photo{
    background-color: #dddddd;
    display: grid;
    margin: 20px 20px 0 20px;
    grid-template-rows: minmax(120px,auto);
    align-items: center;
    justify-items: center;
}
.textfophoto{
    background-color: #dddddd;
    font-size: x-small;
    display: grid;
    margin: 0px 20px 0 20px;
    width: 60%;
    grid-template-rows: minmax(15px,auto);
    align-items: center;
    padding-left: 5px;
}
.buttonsave{
    background-color: #bb0000;
    font-size: x-small;
    display: grid;
    margin: 0px 20px 20px 20px;
    grid-template-rows: minmax(18px,auto);
    align-items: center;
    padding-left: 5px;
}
.container1{
    grid-column: 2/2;
}
