*{
    padding: 0;
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    /*grid-column-gap: 1em;*/
    /*grid-row-gap: 1em;*/
    grid-gap: 1em;
}
.wrapper > div{
    padding: 1em;
    background-color: #eb6477;
}
.wrapper > div.light{
    padding: 1em;
    background-color: #ebbec5;
}