#square{
    width: 10em;
    height: 10em;
    background-color: blue;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}
#circle{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    background: aqua;
    border: 13px double black;
}
table{
    border-spacing: 2px ;
    width: 30em;
    height: 20em;
}
thead{
    text-align: left;
}
tbody{
    text-align: center;
}

th{
    border: 1px solid black;
    border-collapse: collapse;
    text-indent: 10px;
    height:  50px;
    background-color: blue;
    color: white;
    font-size: 23px;
    font-weight: lighter;
}
#angle1{
    border-radius: 10% 0% 0% 0% ;
}
#angle2{
    border-radius: 0% 10% 0% 0%;
}
#angle3{
    border-radius: 0% 0% 0% 10%;
}
#angle4{
    border-radius: 0% 0% 10% 0%;
}
td {
    border: 1px solid black;
    height: 50px;
    background-color: orange;
    font-size: x-large;
    font-weight: bold;
}
p {
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}
sub{
    color: blue;
    font-style: normal;
    font-size: small;
}
sup{
    color: red;
    font-style: normal;
    font-size: small;
}
.text{
    width: 100%;
    background-color: #993430;
    height: 70px;
}
#text1 {
    font-size: xx-large;
    text-decoration: underline;
    color: red;
    font-style: italic;
    padding-left: 20px;
}
#text2{
    text-decoration: underline;
    font-size: xx-large;
    color: greenyellow;
    font-style: italic;
    padding: 20px;
}
#text3{
    text-decoration: underline;
    font-size: xx-large;
    color: aqua;
    font-style: italic;
}
#circle1{
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background: darkseagreen;
    border: 30px solid green;
    border-bottom-color: red;
    line-height: 50px;
    text-align: center;
}
#circletext, #circlepercent {
    font-size: 25px;
    font-weight: bold;
    color: green;
}
#circletext1, #circlepercent1 {
    font-size: 25px;
    font-weight: bold;
    color: red;
}
form > h1{
    font-weight: lighter;
    font-size: 27px;
    padding-left: 12px;
    margin-bottom: 5px;
    padding-top: 15px;
}
form > hr{
    margin-left: 6px;
    margin-right: 6px;
}
form{
    font-family: Tahoma;
    background: #e0e2e3;
    height: 550px;
    width: 650px;
    border-radius: 1%;
}
.group{
    padding: 12px;
}
label[for="formbutton1"]{
    margin-right: 10px;
    margin-left: 12em;
    font-size: 15px;
}
label[for="formbutton2"]{
    margin-right: 10px;
    margin-left: 11em;
    font-size: 15px;
}
label[for="formbutton3"]{
    margin-right: 10px;
    margin-left: 10.5em;
    font-size: 15px;
}
label[for="formbutton4"]{
    margin-right: 10px;
    margin-left: 7em;
    font-size: 15px;
}
label[for="formbutton5"]{
    margin-left: 5.5em;
    margin-right: 15px;
    font-size: 15px;
}
#mail{
    margin-left: 11em;
    font-size: 15px;
}
label[for="formbutton6"]{
     margin-right: 10px;
     margin-left: 4em;
     font-size: 15px;
}
input[type="email"],[type="password"], [type="text"]{
    height: 22px;
    border-radius: 10%;
    border-width: thin;
    border-color: lightgray;
}
#mail1{
    margin-left: 5em;
    font-size: 15px;
}
#field{
    font-size: 15px;
    margin-left: 5em;
    margin-top: 1.8em;
}
#button1{
    margin-left: 18em;
    margin-right: 10px;
    background-color: #0289c7;
    color: #e0e2e3;
    border-color: #0289c7;
    height: 30px;
    border-radius: 10%;
}
#button2{
    border-color: lightgray;
    height: 30px;
    border-radius: 10%;
}
.menu{
    display: flex;
    text-decoration-
}
.menu li{
    width: 100px;
    list-style: none;
    background: white;
    position: relative;
}
.menu a{
    color: blue;
    line-height: 40px;
}
.menu ul{
    display: none;
    padding:0;
}
.menu li:hover ul {
    display: block;
}




