.triangle-left {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-right: 200px solid red;
    border-bottom: 100px solid transparent;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-left: 200px solid red;
    border-bottom: 100px solid transparent;
}
.triangle-top {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid red;
}
.triangle-bottom {
    width: 0;
    height: 0;
    border-top: 200px solid red;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}
.one:first-letter{
    color: blue;
    font-size: x-large;
}
.two:first-line{
    text-decoration: overline ;
    font-style: italic;
}
.three1:hover{
    background-color: blue;
}
.three2:hover{
    background-color: red;
}
.inputone{
    background-color: lightgray;
}
.inputone::placeholder{
    color: blue;
}
.inputtwo{
    width: 20em;
}
.inputtwo:focus{
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.94);
}
.inputtwo:focus::placeholder{
    color: red;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.94);
}
.triangle{
    width: 0;
    height: 0;
    border-left: 20px solid red;
    border-bottom: 10px solid transparent ;
    border-top: 10px solid transparent ;
    display: inline-block;
}
.paragraph1{
    quotes: "Абзац{1}" "";
}
.paragraph2{
    quotes: "Абзац{2}" " ";
}
.paragraph1::before {
    content: open-quote;
    color: gray;
}
.paragraph2::before {
    content: open-quote;
    color: gray;
}
.list > li:nth-child(4){
    font-size: x-large;
    color: blue;
}
.list1 > li:nth-child(2n+1){
    font-size: x-large;
    color: blue;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 3px solid black;
    border-radius: 25%;
    position: relative;
    opacity: 50%;
}
.fake::before{
    display: inline-block;
    content: "";
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid red;
    position: absolute;
    top: 5.3px; left: 5.5px;
    opacity: 70%;
}
.checkbox:checked +.fake{
    opacity: 100%;
    border-color: #ff3207;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
#text{
    color: #ff3207;
}
li.list2{
    color: red;
    font-size: x-large;
}
li.list2:first-child{
    color: black;
}
::-webkit-scrollbar{
    /*background-color: #ff3207;*/
    width: 25px;
}
/*::-webkit-scrollbar-track{*/
/*    background-color: red;*/
/*}*/

/*::-webkit-scrollbar-thumb{*/
/*    background-color: red;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*     background-color: black;*/
/*}*/
/*::-webkit-scrollbar-track{*/
/*      background-color: none;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*    background-color: cyan;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*    background-color: orange;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*    background-color: #0289c7;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*    background-color: black;*/
/*}*/
/*::-webkit-scrollbar-track{*/
/*    background-color: none;*/
/*    -webkit-box-shadow: 21px 0px 18px 0px rgba(34, 60, 80, 0.98) inset;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*    background-color: coral;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*    background-color: gray;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*    !*background-color: dodgerblue;*!*/
/*}*/
/*::-webkit-scrollbar-track{*/

/*}*/
::-webkit-scrollbar-thumb{
    /*-webkit-box-shadow: 21px 0px 18px 0px rgba(34, 60, 80, 0.98) inset;*/
    background: linear-gradient(to bottom, white, black);
    height: 100px;
    border-radius: 10%;
}::-webkit-scrollbar-thumb{
    /*-webkit-box-shadow: 21px 0px 18px 0px rgba(34, 60, 80, 0.98) inset;*/
    background: linear-gradient(to bottom, darkgreen, lightgreen, darkgreen);
}